<div *ngIf="selectedGig">
  <h2>{{selectedGig.artist | uppercase}} Details</h2>
  <div><span>date: </span>{{selectedGig.date | date:dateFormat}}</div>
  <div><span>location: </span>{{selectedGig.location}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedGig.comment" placeholder="comment"/>
    </label>
  </div>
</div>
<h2>Gigs Of Favourite Artists</h2>
<ul class="gigs">
  <li *ngFor="let gig of gigs" (click)="onSelect(gig)">
    <span class="badge">{{gig.artist}}</span> {{gig.date | date:'h:mm a MMM d'}} {{gig.location}} {{gig.comment}}
  </li>
</ul>
