<h1>Feedback</h1>

<div class="row">
  <form class="col s12" [formGroup]="feedbackForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="email" type="email" placeholder="Email" class="validate"/>
      </div>
    </div>
    <div class="row">
      <div *ngIf="subject.invalid && (subject.dirty || subject.touched)"
           class="alert alert-danger col s12">
        <div *ngIf="subject.errors.required">
          Subject is required.
        </div>
        <div *ngIf="subject.errors.minlength">
          Please enter actual text
        </div>
      </div>

      <div class="input-field col s12">
        <input formControlName="subject" placeholder="Subject*" type="text" class="validate" required/>
      </div>
    </div>
    <div class="row">
      <div *ngIf="text.invalid && (text.dirty || text.touched)"
           class="alert alert-danger col s12">
        <div *ngIf="text.errors.required">
          Text is required.
        </div>
        <div *ngIf="text.errors.minlength">
          Please enter actual text
        </div>
      </div>
      <div class="input-field col s12">
        <textarea formControlName="text" placeholder="Text*" type="text" class="validate materialize-textarea" required></textarea>
      </div>
    </div>
    <div class="row">
      <button class="btn col s12" type="submit" [disabled]="!feedbackForm.valid">Submit</button>
    </div>
  </form>
</div>


