form * {
  display: block;
  margin-top: 2em;
}
form textarea {
  text-align: left;
  width: 12.5em;
  height: 5em;
}
* {
  margin: auto;
  text-align: center;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
