<div *ngIf="gig">
  <h2>{{gig.artist | uppercase}} Details</h2>
  <div><span>title: </span>{{gig.title}}</div>
  <div [innerHTML]=gig.description></div>
  <div><span>artists: </span>
    <ul class="performers">
      <li *ngFor="let performer of performers">
        <span>{{performer.name | truncate:['20', '...']}}</span>
      </li>
    </ul>
  </div>
  <div><span>date: </span>{{gig.start_time | dateFormat}}</div>
  <div><span>location: </span>{{gig.city_name}}</div>
  <div>
    <label>comment:
      <input [(ngModel)]="gig.comment" placeholder="comment"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
</div>
