<div *ngIf="gig">
  <ul>
    <li><h1>{{gig.title}}</h1></li>
    <li [innerHTML]="gig.description"></li>
    <li *ngFor="let performer of performers">
      <span class="highlighted">{{performer.name}}</span>
    </li>
    <li><span class="highlighted">{{gig.start_time | dateFormat}}</span></li>
    <li><span class="highlighted">{{gig.city_name}} </span></li>
    <li class="center">
      <label>comment:
        <input [(ngModel)]="gig.comment" placeholder="comment"/>
      </label>
    </li>
    <li>
      <button mat-raised-button color="primary" (click)="goBack()">go back</button>
    </li>
  </ul>
</div>
