<h1>Gigs Of Favourite Artists</h1>
<app-gig-search></app-gig-search>

<div *ngIf="gigs?.length === 0" class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
    <div class="circle"></div>
  </div><div class="circle-clipper right">
    <div class="circle"></div>
  </div>
  </div>
</div>

<ul class="gigs collection">
  <li class="collection-item" *ngFor="let gig of gigs">
    <a routerLink="/gigDetail/{{gig.id}}">
      <span class="btn">{{gig.title | truncate:['30', '...']}}</span>
      <span class="details">{{gig.start_time | dateFormat}}  {{gig.city_name}}  {{gig.comment}}</span>
    </a>
  </li>
</ul>
