@import "src/variables.scss";

.collection {
  border: none;
}

.collection .collection-item{
  text-align: left;
}
.collection .collection-item a{
  margin-left: 0%;
}
.btn{
  display: block;
}

.collection .collection-item a span{
  font-size: larger;
  font-weight: bold;
  display: block;
}


@media #{$small-and-down} {
  // styles for large screens and up

}
@media #{$medium-and-up} {
  // styles for large screens and up
}
@media #{$medium-and-down} {

}
@media #{$large-and-up} {
  // styles for large screens and up
}


@media #{$extra-large-and-up} {
  // styles for extra large screens and up
}
