/* gigsComponent's private CSS styles */

h1 {
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

.gigs {
  list-style-type: none;
  padding: 0;
  width: 50%;
  margin: auto;
}
.gigs li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: 1em;
  padding: .3em 0;
  height: 2em;
  border-radius: 4px;
}

.gigs li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.gigs a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  max-width: 50em;

}

.gigs a:hover {
  color:#607D8B;
}

.gigs .badge {
  display: inline-block;
  font-size: medium;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  width: 25em;
  text-align: center;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.gigs .details {
  font-size: large;
}

