/* gigsComponent's private CSS styles */
.mat-list-item-content {
  justify-content: center;
}

* {
  text-align: center;
}

.mat-raised-button {
  width: 14em;
  margin-right: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gig {
  width: 35em;
  text-align: left;
  margin-left: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

@import "src/variables";

@media #{$mat-xs}  {
  .mat-list-item {
    margin-bottom: 2em;
    font-size: medium;
  }

  .mat-raised-button {
    display: block;
  }
}



