<h1>Gigs Of Favourite Artists</h1>
<app-gig-search></app-gig-search>
<mat-nav-list class="gigs">
  <a *ngFor="let gig of gigs" mat-list-item class="center" routerLink="/gigDetail/{{gig.id}}">
    <div class="gig">
      <button mat-raised-button color="primary">
        {{gig.title | truncate:['30', '...']}}
      </button>
      <span>{{gig.start_time | dateFormat}} </span>
      <span>{{gig.city_name}} </span>
      <span>{{gig.comment}} </span>
    </div>
  </a>
</mat-nav-list>
