.polaroid {
  height: inherit;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul{
  list-style: none;
}
li{
  text-align: center;
  margin: .5em;
}
.highlighted{
  font-weight: bolder;
}

h2 {
  text-align: center;
  margin-top: 1em;
  padding-top: 0;
}

.highlighted {
  font-weight: bold;
  font-size: larger;
}

