<div *ngIf="artist">
  <h2>{{artist.name | uppercase}}</h2>
  <section class="content">
    <div class="parallax-container">
      <div #parallax class="parallax"><img class="polaroid" alt="img" src="{{ artist?.images[0]?.url}}"></div>
    </div>
    <div>
      <ul>
        <li><span>Your number <span class="highlighted">{{getRank(artist)}}</span> favourite band</span></li>
        <li>
          <div class="comment">
              <input [(ngModel)]="artist.comment" placeholder="comment"/>
          </div>
        </li>
        <li>
          <button (click)="goBack()">go back</button>
        </li>
      </ul>
    </div>
  </section>
</div>
