@import "src/variables.scss";

.collection {
  border: none;
}

.collection .collection-item{
  text-align: left;
}

.collection .collection-item a{
  margin-left: 43%;
}

.collection .collection-item a span{
  font-size: larger;
  font-weight: bold;
}


@media #{$small-and-down} {
  .collection .collection-item a{
    margin-left: 30%;
  }
}
@media #{$medium-and-up} {
  // styles for medium screens and larger
}
@media #{$medium-and-down} {
  // styles for medium screens and down
}
@media #{$large-and-up} {
  // styles for large screens and up
}
@media #{$extra-large-and-up} {
  // styles for extra large screens and up
}
